
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="position:center">
        <h1>HERE SHOULD BE SOME INTERESTING TITLE|</h1>
    </div>
    @ViewBag.Greeting
    <p>@Html.ActionLink("Please fill in form ", "RSVPForm")</p>
</body>
</html>
